@tailwind base;
@tailwind components;
@tailwind utilities;

.page-nav-panel ::-webkit-scrollbar {
  height: 1px;
}

.page-nav-panel ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

.member-detail-card::-webkit-scrollbar {
  width: 4px;
}

.member-detail-card::-webkit-scrollbar-track {
  border-radius: 10px;
}

.member-detail-card::-webkit-scrollbar-thumb {
  @apply bg-outline;
  border-radius: 10px;
}
